/* src/components/BackgroundSection.css */

.mybg {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative; /* Nodig voor positionering van overlay content */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparante zwarte overlay */
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Perfect centeren */
  text-align: center;
  color: white; 
  z-index: 2; /* Zorgt dat dit boven de achtergrond staat */
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Voorkom horizontaal scrollen */
}

html {
  height: 100%;
}

/* src/styles/components/Main.css */
.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  background: transparent;
}

.main-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-right: 2.5rem;
  color: #333;
}

.main-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  color: #555;
}
.button-container {
  display: flex;
  flex-direction: row; /* Plaatst de knoppen naast elkaar */
  align-items: center;
  margin-right: 2.5rem;
  gap: 3rem; /* Afstand tussen de knoppen */
}

.main-btn {
  padding: 0.8rem 1.5rem;   
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background: linear-gradient(45deg, #2196f3, #21cbf3); /* Shiny gradient */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.main-btn.signup-btn {
  background: linear-gradient(45deg, #4caf50, #8bc34a); 
}

.main-btn.login-btn {
  background: linear-gradient(45deg, #2196f3, #21cbf3);
}

.main-btn:hover {
  transform: scale(1.1); /* Vergroot de knop een beetje bij hover */
  filter: brightness(1.2);
}


