/* src/components/BackgroundSection.css */

.mybg {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative; /* Nodig voor positionering van overlay content */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparante zwarte overlay */
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Perfect centeren */
  text-align: center;
  color: white; 
  z-index: 2; /* Zorgt dat dit boven de achtergrond staat */
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Voorkom horizontaal scrollen */
}

html {
  height: 100%;
}

/* src/styles/components/Main.css */
.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  background: transparent;
}

.button-container {
  display: flex;
  flex-direction: row; /* Plaatst de knoppen naast elkaar */
  align-items: center;
  gap: 3rem; /* Afstand tussen de knoppen */
}

.main-btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #333;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.main-btn.signup-btn {
  background-color: #047508; 
}

.main-btn.login-btn {
  background-color: #0689f5; 
}

.main-btn:hover {
  transform: scale(1.1); /* Vergroot de knop een beetje bij hover */
  filter: brightness(1.2);
}


