/* src/styles/components/Navbar.css */

.navbar {
  background-color: rgba(51, 51, 51, 0.8); /* Semi-transparant donkergrijs */
  padding: 1rem;
  position: fixed; /* navbar vast aan de bovenkant */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; /* navbar boven andere elementen  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; /* Voorkom dat de padding de breedte van de navbar vergroot */
  height: 4rem; 
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.navbar li {
  margin-right: 2rem;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #9bdd95; 
}

.navbar a.active {
    border-bottom: 2px solid #ffdd57;
}

.navbar-logo {
  display: flex;
  align-items: center; 
  margin-right: auto; /* Push navigation links to the right */
}

.navbar-logo .logo {
  height: 40px; 
  width: auto; /* Maintain aspect ratio */
}

.navbar-logo .logo-text {
  font-size: 1.5rem; 
  color: white; 
  font-weight: bold; 
  letter-spacing: 0.1rem; /* spacing between letters */
}

