/* src/styles/components/Navbar.css */

.navbar {
  background-color: rgba(51, 51, 51, 0.8); /* Semi-transparant donkergrijs */
  padding: 1rem;
  position: fixed; /* Maak de navbar vast aan de bovenkant */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; /* Zorg dat de navbar boven andere elementen staat */
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center; /* Centreer de navigatie links */
}

.navbar li {
  margin-right: 2rem;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #9bdd95; /* Bijvoorbeeld een gele kleur bij hover */
}
